
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestDo</title>
</head>
<body>
    <p>App Page works!!!</p>
</body>
</html>
